.footer {
    background-color: var(--clr-black);
    padding-block: 15.813rem 4rem;
    color: var(--clr-gray);
}

.footer-wrapper {
    gap: 2.5rem;
}

.footer-links {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    color: var(--clr-white);
}

.social-media {
    gap: 1rem;
}

.contact-info {
    position: relative;
}

.contact-info::before {
    position: absolute;
    content: '';
    border: 1px solid var(--clr-gray);
    opacity: .1;
    width: 100%;
    top: -85%;
}

/* mobile */
@media (max-width:639px) {
    .footer-menu {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .footer-links  {
        gap: 2rem;
        flex-direction: column;
    }

    .contact-info {
        gap: 2.5rem;
        text-align: center;
        justify-content: center;
    }
}

/* tablet */
@media (min-width:640px) {
    .footer {
        padding-block: 10rem 5rem;
    }

    .footer-wrapper {
        gap: 4.5rem;
    }

    .contact-info::before {
        top: -50%;
    }

    .contact-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-links {
        gap: 2.625rem;
        font-size: .875rem;
    }

    .social-media {
        align-self: flex-end;
        justify-self: end;
    }

}


/* desktop */
@media (min-width:864px) {
    .footer {
        padding-block: 9rem 4.5rem;
    }
}