@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-white: rgb(255, 255, 255);
    --clr-light-gray: rgb(241, 243, 245);
    --clr-black:  rgb(29, 28, 30);
    --clr-dark-gray: rgb(51, 49, 54);
    --clr-gray: rgba(255, 255, 255, .5);
    --clr-peach:  rgb(231, 129, 107);
    --clr-light-peach:  rgb(255, 173, 155);

    --fw-regular: 400;
    --fw-medium: 500;

    --fz-body: 1rem;
    --fz-body-m: .938rem;

    --fz-h1: 3rem;
    --fz-h1-m: 2rem;

    --fz-h2: 2.5rem;
    --fz-h2-m: 1.75rem;
    --letter-spacing-h2: 2px;

    --fz-h3: 1.25rem;
    --letter-spacing-h3: 5px;
}

body {
    font-weight: var(--fw-regular);
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-weight: var(--fw-medium);
    line-height: 1.2;
}

h1 {
    font-size: var(--fz-h1-m);
}

h2 {
    font-size: var(--fz-h2-m);
    letter-spacing: var(--letter-spacing-h2);
}

h3 {
    font-size: var(--fz-h3);
    letter-spacing: var(--letter-spacing-h3);
}

.container {
    margin-inline: auto;
}

button {
    text-transform: uppercase;
    font-size: .9375rem;
    font-weight: var(--fw-medium);
    letter-spacing: 1px;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

.button-primary {   
    background-color: var(--clr-peach);
    color: var(--clr-white);
}

.button-primary:hover {
    background-color: var(--clr-light-peach);
}

.button-secondary {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

.button-secondary:hover {
    background-color: var(--clr-light-peach);
    color: var(--clr-white);
}
 
/* mobile */
@media (max-width:639px) {
    .container {
        width: 327px;
    }
}

/* tablet */
@media (min-width:640px) {
    .container {
        width: 689px;
    }

    h1 {
        font-size: var(--fz-h1);
    }
    
    h2 {
        font-size: var(--fz-h2);
    }
}


/* desktop */
@media (min-width:864px) {
    .container {
        width: 1111px;
    }
}